<div class="card">
  <img
    class="card__image"
    src="https://source.unsplash.com/random/400x200?product,<%= encodeURIComponent(product.name) %>"
    alt="<%= product.name %>"
  />
  <h3 class="card__title"><%= product.name %></h3>
  <p class="card__description"><%= product.description %></p>
  <p class="card__price"><%= typeof product.price === 'number' ? product.price.toFixed(2) + ' PLN' : 'N/A' %></p>
  <a href="/products/<%= encodeURIComponent(product.name) %>" class="card__link">Details</a>
  <button class="card__button" onclick="deleteProduct('<%= product.name %>')">Delete</button>
</div>